/*GENERAL STYLES*/
body,
button {	
	font-family: 'Tangerine', serif;
}

h1 {
	text-align: center;
	font-size: 70px;
	color: #1d2e49;
	text-shadow: 4px 4px 4px #aaa;
}

h2 {
	font-size: 40px;
	text-align: center;
}

/*TABLE AND CELL STYLES*/

table,
tr,
td {
	
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	margin: 0 auto;
	margin-top:10px;
}

tr {
	height:20px;
}


td {
	width: 20px;
}

/*BUTTON STYLES*/

button {
	display: block;
	font-size: 25px;
	font-weight: bold; 
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 3px;
}

/*COMNTAINER STYLES*/

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 30px;
	font-weight: bold;
}

label, 
input,
button {
	align-self: center;
	margin-left: 15px;
}

input[type='number'] {
	width: 50px;
}